<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD
Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 根节点必须为mapper -->
<!-- namespace接口文件 -->
<mapper namespace="com.gin.pixivmanager.dao.DataManagerMapper">


    <select id="getIllustrations" resultType="com.gin.pixivmanager.entity.Illustration">
        select id, tag, tagTranslated
        from t_illuStration;
    </select>
    <select id="getTags" resultType="com.gin.pixivmanager.entity.Tag">
        select *
        from t_tags;
    </select>
    <select id="getTrans" resultType="com.gin.pixivmanager.entity.Tag">
        select *
        from t_tags_translation;
    </select>
    <select id="getIllustrationsById" resultType="com.gin.pixivmanager.entity.Illustration">
        select * from t_illustration where id in (
        <foreach collection="idList" item="i" index="index" separator=",">
            ${i}
        </foreach>
        )
        ;
    </select>
    <insert id="addTranslation" parameterType="java.util.List">
        delete
        from t_tags_translation
        where name = #{name};
        insert into t_tags_translation (name, translation)
        values (#{name}, #{translation});
    </insert>
    <insert id="addIllustrations">
        insert into t_illustration (id, userId, title, userName, description, tag, tagTranslated, urlPrefix,
        fileName, pageCount, illustType, bookmarkCount, bookmarkData,lastUpdate)
        values
        <foreach collection="list" item="i" index="index" separator=",">
            (
            #{i.id}, #{i.userId}, #{i.title}, #{i.userName},
            #{i.description}, #{i.tag}, #{i.tagTranslated}, #{i.urlPrefix},
            #{i.fileName}, #{i.pageCount}, #{i.illustType},
            #{i.bookmarkCount}, #{i.bookmarkData}, #{i.lastUpdate}
            )
        </foreach>
    </insert>
    <delete id="delIllustrations" parameterType="java.util.List">
        delete from t_illustration
        where id in (
        <foreach collection="list" item="i" index="index" separator=",">
            ${i.id}
        </foreach>
        )
    </delete>
    <insert id="addTags" parameterType="java.util.List">
        delete from t_tags where name = #{name};
        insert into t_tags (name, translation)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.name},#{item.translation}
            )
        </foreach>
    </insert>
</mapper>
