<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <meta charset="UTF-8">
    <title>网页标题</title>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/axios.min.js"></script>
    <script type="text/javascript" src="/js/queryString.js"></script>
    <script type="text/javascript">

    </script>
    <style type="text/css">
        .err {
            color: red;
        }

        input {
            width: 100px;
        }
    </style>
    <style type="text/css">
        .err {
            color: red;
        }

        input {
            width: 70%;
        }

        .customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            width: 100%;
            border-collapse: collapse;

        }

        .customers td, #customers th {
            font-size: 1em;
            border: 1px solid #98bf21;
            padding: 3px 7px 2px 7px;
        }

        .customers th {
            font-size: 1.1em;
            text-align: left;
            padding-top: 5px;
            padding-bottom: 4px;
            background-color: #A7C942;
            color: #ffffff;
        }

        .customers tr.alt td {
            color: #000000;
            background-color: #EAF2D3;
        }
    </style>
</head>
<body><a href="index.html">主页</a><br><br>

<div id="app">
    <div style="position: fixed">
        <select v-model="param.f">
            <option>测试版面</option>
            <option>少女前线</option>
        </select><br>
        <select v-model="param.t">
            <option>测试楼</option>
            <option>少前水楼</option>
            <option>RO集中楼</option>
        </select><br>

        <select v-model="param.name" size="5" multiple="multiple" @change="selectChange($event)">
            <option v-for="(item,i) in fileUrls" :value="i" :id="item.name"
                    @click.prevent.right="addFile(i)">
                {{item.name}}
            </option>
        </select><br>
        <button @click="imgIndex--;param.name =[imgIndex];">上一张</button>
        <button @click="imgIndex++;param.name =[imgIndex];">下一张</button>

        <br><br>
        <button @click="selectAll()">全选</button>
        <button @click="repost()">转发</button>
        <br>
        <button @click="archive()">归档</button>
        <button @click="move()">移动</button>
        <br><br><br>
        <button @click="del()">删除</button>

    </div>
    <a :href="getFilePath(imgIndex)"><img :src="getFilePath(imgIndex)" style="width: 100%"></a>
    <a v-show="false" :href="getFilePath(imgIndex+1)"><img :src="getFilePath(imgIndex+1)" style="width: 100%"></a>
</div>
</body>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            param: {
                //选中的图片下标
                name: [0],
                f: "测试版面",
                t: "测试楼",
            },
            fileUrls: [{name: 1, path: ""}],
            nga: {},
            pid: "",
            selectedKey: "",
            pidArray: [],
            imgIndex: 0,
        },
        methods: {
            getFileUrls() {
                get("/data/getFilesPath", null, function (res) {
                    _this.fileUrls = res.data;

                })
            },
            getInfo() {
                post("nga/getInfo", null, function (res) {
                    this.nga = res.data;
                    console.log(res.data);
                })
            },
            repost() {
                if (this.param.name.length === 0) {
                    alert("作品数不能为0");
                    return;
                }

                let url = "nga/repost?" + qs(this.getParam());

                // console.log(url)
                window.open(url);
            },
            archive() {
                let url = "pixiv/archive?";
                post(url, this.getParam(), function (res) {
                    console.log(res.data);
                    _this.delByName(res.data);

                })
            },
            move() {
                let url = "data/move?";
                post(url, this.getParam(), function (res) {
                    console.log(res.data);
                    _this.delByName(res.data);

                })
            },
            del() {
                post("data/delFile", this.getParam(), function (res) {
                    console.log(res.data);
                    _this.delByName(res.data);
                })
            },
            selectChange(e) {
                this.imgIndex = e.target.value;
            },
            replaceIndex2Name() {
                let name = this.param.name;
                let names = [];
                for (let i = 0; i < name.length; i++) {
                    names[names.length] = this.fileUrls[name[i]].name;
                }
                return names;
            },
            getParam() {
                return {
                    name: this.replaceIndex2Name(),
                    f: this.param.f, t: this.param.t
                }
            },
            getFilePath(i) {
                let fileUrl = this.fileUrls[i];
                if (fileUrl != null) {
                    return fileUrl.path;
                } else {
                    return "";
                }
            },
            delByName(names) {
                let urls = this.fileUrls;
                for (let i = urls.length - 1; i >= 0; i--) {
                    if (names.includes(urls[i].name)) {
                        console.log("移除" + urls[i].name)
                        urls.splice(i, 1);
                    }
                }
                this.imgIndex = this.imgIndex >= urls.length ? urls.length - 1 : this.imgIndex;
                if (urls.length < 10) {
                    location.reload();
                }
            },
            selectAll() {
                this.param.name = [];
                for (let i = 0; i < this.fileUrls.length; i++) {
                    this.param.name.push(i);
                }
            },
        },
        created() {
            this.getFileUrls();
            this.getInfo();
        },
    });
    const _this = app;
</script>
</html>

